.logo {
    margin: 40px 0;
    text-align: center;
    &-title {
        color: #2ab561;
    }
}

.fixed-header.am-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
} 
.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.link-to {
    line-height: 30px;
    a {
        color: #2ab561;
        border-bottom: 1px solid #2ab561;
    }
}